* {
  outline: none;
}

.resourcesSubHeader {
    display: flex;
    flex-direction: row;
    background-color: navy;
    align-items: center;
    justify-content: center;
    height: 12rem;
    width: 100%;
}

.resourcesSubHeaderTitle {
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    padding: 30px;
}

.resourcesControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.resourcesControls label {
  font-size: 1.2em;
  margin: 15px;
}

.resourcesControls select {
  font-size: 0.8em;
  margin: 15px;
  padding: 5px;
}

.resourcesInput {
  background-color: rgb(214, 217, 218);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.resourcesButton {
  color: white;
  background-color: #358bb2;
  box-shadow: 5px 5px 10px rgb(189, 191, 192);
  font-size: 1.2em;
  font-family: sans-serif;
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
  transition: all 0.2s ease;
}

.resourcesButton:hover {
  background-color: #41aadb;
  box-shadow: 5px 5px 10px rgb(138, 138, 138)
}

